---
title: Le Wagon - Middleman
---
<div id="home">
  <div class="home-content">
    <%= image_tag "logo.png", width: "200" %>
    <p>
      Welcome to my test
    </p>
    <p class="about">
      <%= link_to "meet the team", "team.html" %>
    </p>
  </div>
</div>
